main.dashboard {
    background: #086fb0 url("/images/blueprint_tiles.png");
    background-size: 3rem;
    color: white;
}

main.dashboard section.dash {
    width: 100%;
    max-width: 800px;
    min-height: calc(100dvh - var(--headerSize) - var(--headerPadding) - 1px);
    margin: auto;
    background-color: var(--background);
}

main.dashboard aside, main.dashboard button.sidebar {
    background: var(--backgroundimg);
    position: inherit;

    width: 100%;
    height: 4.5rem;

    background-color: rgba(0, 0, 0, 0.3);

    text-align: right;

    transition: max-width .5s;

    display: grid;
    align-items: end;
}

main.dashboard button.sidebar {
    box-shadow: none;
    margin-top: -1rem;
    margin-bottom: 1rem;
    display: none;
    text-align: left;
    border-radius: 0;
}

main.dashboard button.sidebar img {
    height: 3rem;
}

main.dashboard button.sidebar:active {
    outline: none;
}

main.dashboard aside::before {
    content: '';
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 1rem;
    background-color: var(--background);
}

main.dashboard aside .top {
    padding-top: 1rem;
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
}

main.dashboard aside .top::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.3);
    height: 1rem;
    flex-grow: 1;
}

main.dashboard aside button:hover { 
    box-shadow: none;
}

main.dashboard aside button.page.selected span, main.dashboard aside button.page:hover span {
    display: block;
    max-width: 100%;
    opacity: 1;

    transform: scaleX(1);

    transition: opacity .2s, transform .5s, max-width 0s;
}

main.dashboard aside button.page.selected::before, main.dashboard aside button.page.selected::after {
    content: '';
}

main.dashboard aside button.page::before, main.dashboard aside button.page::after {
    width: 1rem;
    height: 100%;
    padding: .5rem 0;

    background-color: var(--background);
    filter: brightness(0.7);
}

main.dashboard aside button.page::before {
    margin-right: .5rem;
    margin-left: -1rem;
    border-bottom-right-radius: var(--buttonradius);
}

main.dashboard aside button.page::after {
    margin-left: .5rem;
    margin-right: -1rem;
    border-bottom-left-radius: var(--buttonradius);
}

main.dashboard aside button.page.selected::after, main.dashboard aside button.page:hover::after {    
    margin-left: 1.4rem;
}

main.dashboard aside button.page:active {
    outline: none;
}

main.dashboard aside button.page.selected {
    padding: .5rem 0;
    padding-bottom: 0;
    margin: 0 1rem;

    height: auto;
    
    border-top-left-radius: var(--buttonradius);
    border-top-right-radius: var(--buttonradius);
    --buttonbg: var(--background);
}

main.dashboard aside button.page.selected, main.dashboard aside button.page:hover {
    filter: none;
}

main.dashboard aside button.page {
    --buttonbg: transparent;
    height: 1rem;
    backdrop-filter:brightness(0.7);
    --buttonradius: 1rem;

    background-color: var(--buttonbg);
    color: var(--onBackground);

    text-align: start;
    
    display: flex;
    justify-content: start;
    align-items: flex-end;

    font-size: 2.5rem;
    padding: .5rem 1rem;
    padding-bottom: .25rem;
    border-radius: 0;

    /* margin: 0 1rem; */
}

main.dashboard aside button.page span {
    width: auto;
    height: 1em;
    padding-bottom: .9em;
    font-size: .4em;

    transform: scaleX(0);
    transform-origin: left;
    max-width: 0px;

    overflow-wrap: normal;
    overflow: hidden;
    opacity: 0;
    transition: opacity .2s, transform .25s, max-width 0s .5s;
}

main.dashboard section.dash aside button.page img, main.dashboard section.dash aside input img {
    height: 1em;
    padding: 0 .5rem;
    padding-bottom: .2rem;
    padding-top: 0;
}

main.dashboard section.dash section.page {
    width: 100%;
    color: var(--onBackground);
    overflow-y: auto;
}

main.dashboard section.dash section.page {
    padding-top: 1rem;
}

@media screen and (max-width: 789px) {

    main.dashboard button.sidebar {
        display: block;
    }

    main.dashboard aside {
        background-color: var(--background);
        position: absolute;
        height: calc(100% - var(--headerSize) - var(--headerPadding) - 1px);
        max-width: none;
        z-index: 1;
        display: none;
    }

    main.dashboard section.dash aside button.page span {
        opacity: 1;
        padding-bottom: 1.2em;
    }

    main.dashboard section.dash aside button.page img {
        padding: .5rem;
        padding-top: 0;
    }

    main.dashboard aside.open {
        display: grid;
        z-index: 2;
        align-items: flex-start;
    }

    main.dashboard aside.open .top {
        /* background-color: red; */
        gap: .5rem;
        padding-top: 1rem;

        flex-direction: column;
        align-items: flex-start;
        /* width: 100%; */
        /* height: 100%; */
    }

    main.dashboard aside.open button.page {
        width: calc(100% - 1rem);
        height: auto;
        gap: .2rem;
        
        padding: 0.5rem 1rem;
        padding-bottom: 0;
        margin: 0;

        border-radius: 0;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;

        transition: font-size .4s .2s;
    }

    main.dashboard aside.open button.page.selected, main.dashboard aside.open button.page:hover {
        font-size: 4rem;

        transition: font-size .3s .2s;
    }

    main.dashboard aside.open button.page.selected {
        --buttonbg: var(--primary);
    }

    main.dashboard aside button.page::before, main.dashboard aside button.page::after {
        display: none;
    }
    
    main.dashboard aside.open button.page span {
        transform: none;
        display: block;
        width: fit-content;
        max-width: none;
        opacity: 1;
    }
    
}