body:has(main.directories) {
    background: #086fb0 url("/images/blueprint_tiles.png");
    background-size: 2rem;
}

main.directories {
	border-left: 1px var(--outline) solid;
	border-right: 1px var(--outline) solid;
	margin: auto;
	margin-top: -1rem;
	max-width: 600px;
	padding: 2rem 2rem;
	font-family: 'Courier New', Courier, monospace;
	background: var(--background);
}

main.directories a {
	display: block;
	padding: .5em 1rem;
}

main.directories a:hover {
	padding-left: 2rem;
}
