body:has(main.home) {
    background-color: white;
}

main.home {
    /* background: white; */
    /* color: #1d1f20; */
}

main.home .gradient {
    background: linear-gradient(transparent, var(--transparent-primary));
    padding-bottom: 2.5rem;
}

main.home .row {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}