main.createpost {
    background: #086fb0 url("/images/blueprint_tiles.png");
    background-size: 3rem;
    min-height: calc(100dvh - var(--headerSize) - var(--headerPadding) - 1px);
    margin-top: -1rem;
}

main.createpost .editor {
    margin-top: -1rem;
    padding: 1rem 1rem;

    min-height: calc(100dvh - var(--headerSize) - var(--headerPadding) - 1rem - 1px);
    background-image: var(--background);
    max-width: 1000px;
    margin: auto;
}

main.createpost .editor form {
    display: flex;
    flex-wrap: wrap;
}

main.createpost .editor form section#inputs {
    flex-grow: 1;
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
}

main.createpost .editor form textarea, main.createpost .editor input[type="submit"] {
    width: calc(100% - 2rem);
}

main.createpost .editor input[type="submit"] {
    width: 100%;
} 

main.createpost form section#inputs textarea {
    min-height: 10rem;
    flex-grow: 1;
    height: calc(100% - 2rem);
    resize: none;
}

main.createpost form .post {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

main.createpost form .post section.body {
    flex-grow: 1;
}

main.createpost .row {
    border-radius: 0.25rem;
    background-color: var(--background);
    display: flex;
    flex-direction: row;
}