main.posts {
    margin-top: -1rem;
    padding-top: 1rem;
    min-height: calc(100dvh - var(--headerSize) - var(--headerPadding) - 1px);
}

main.posts::before {
    image-rendering: pixelated;
    top: 0;
    content: "";
    background: url("/images/floor_tiles.png");
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    z-index: -1;
    object-fit: contain;
    background-size: 10rem;
    background-position: center;
    opacity: 0.3;
    filter: sepia() hue-rotate(110deg) saturate(2);
    -webkit-mask-image: -webkit-gradient(linear, top, bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
    mask-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2));
}

main.posts a.create {
    margin: 1rem;
    margin-bottom: 0;
    padding: 0 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    gap: .5rem;
    color: var(--onBackground);

    border: 2px solid var(--outline);
    border-radius: .5rem;

    align-items: center;
}

main.posts a.create:hover {
    background-color: var(--outline);
    border-color: transparent;
}

main.posts a.create img {
    height: 4rem;
}

main.posts .items {
    max-width: 740px;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
}

main.posts .items a.post {
    color: var(--onBackground);
}

main.posts .items.reverse {
    flex-direction: column;
}

main.posts div.comments {
    padding: 0 1rem;
}

main.posts div.comments .inputs {
    display: flex;
}

main.posts div.comments input[type="text"] {
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
}

main.posts div.comments .inputs input[type="submit"] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 20%;
}