main.badges {
    margin-top: -1rem;
    padding-top: 1rem;
    min-height: calc(100dvh - var(--headerSize) - var(--headerPadding) - 1px);

    background-size: 10rem;
}

main.badges .items {
    max-width: 600px;
    margin: auto;
    padding: 0 2rem;
}

main.badges .badge {
    margin-top: 0.5rem;
    color: var(--outline);
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid var(--outline);
    border-left-width: 10px;
}

main.badges .badge.obtained {
    color: var(--onBackground);
    border-color: var(--primary);
}

main.badges .badge .info {
    display: inline-block;
    height: 100%;
    flex-grow: 1;
    flex-basis: 150px;
}

main.badges .badge .info span {
    display: block;
}

main.badges .badge .info span.name {
    font-size: 1.2rem;
}

main.badges .badge .info span.description {
    opacity: 0.9;
}

main.badges .badge img {
    opacity: 0.8;
}

main.badges .badge.obtained img {
    opacity: 1;
}


main.badges .profilepreview {
    padding-top: 2rem;
    padding-bottom: 4rem;

    display: grid;
    overflow: hidden;

    width: 100%;
    color: var(--darkOnBackground);
}

main.badges .profilepreview .banner {
    background-color: var(--darkBackground);
    filter: blur(3px);
    mask-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

    grid-column: 1;
    grid-row: 1;
    z-index: 0;
    margin: -2rem;

    position: relative;
    top: -6px;
    left: -6px;

    background-size: cover;
    background-position: center;

    width: calc(100% + 4rem + 12px);
    height: calc(100% + 6rem);
}

main.badges .profilepreview .top {
    z-index: 1;
    grid-column: 1;
    grid-row: 1;

    padding: 2rem;
    display: flex;
    align-items: flex-start;
    gap: 1rem;

    max-width: calc(600px - 2rem);
    margin: auto;
    width: 100%;
}

main.badges .profilepreview .top img {
    max-height: 64px;
    max-width: 64px;
    border-radius: 0.1rem;
}

main.badges .profilepreview .top .info span {
    display: block;
}

main.badges .profilepreview .top .info span.displayname {
    margin: 0;
    font-size: 1.3rem;
}

main.badges .profilepreview .top .info span.username {
    margin: 0;
    font-size: 1rem;
    opacity: 0.7;
    margin-bottom: .5rem;
}