:root {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    --background: white;
    --primary: #4d7dff;
    --dark-primary: #3c55e6;
    --transparent-primary: #5c74ff2d;
    --outline: #0000002d;
    --onBackground: #1d1f20;
}

body.dark {
    --background: #2a2a2d;
    --onBackground: #f5fafd;
    --outline: #ffffff2d;
}

body {
    background-color: var(--background);
    color: var(--onBackground);
    margin: 0;
    overflow-wrap: anywhere;
}

#root {
    min-height: 100dvh;
}

main {
    min-height: calc(100dvh - 4rem - 1px);
}

main.basic section {
    width: 90%;
    font-size: 1rem;
    padding: 0px 5%; /* 25px 5% */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

main.basic section.item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

main.basic section.item.reverse {
    flex-direction: row-reverse;
}

main.basic section.outlined {
    border-top: 1px solid var(--outline);
    border-bottom: 1px solid var(--outline);
    margin-top: 25px;
}

main.basic section.item article {
    max-width: 500px;
}

main.basic section video, main.basic section img {
    max-width: 400px;
    width: 100%;
}

main.basic article.info p {
    margin: 0;
    font-size: 1.5rem;
}

center.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100dvh - 4rem - 1px);
}

span.error {
    display: inline-block;
    background-color: red;
    background: linear-gradient(rgb(255, 0, 0), rgb(224, 45, 0));
    color: white;
    padding: 0 30px;
    
    position: fixed;

    bottom: 0;
    left: 0;
    width: calc(100% - 60px);
    height: 0;

    animation: errorAppear 4s; /*timing-function delay iteration-count direction fill-mode;*/
}

@keyframes errorAppear {
    0% {
        padding: 0 30px;
        height: 0;
    }

    5% {
        padding: 0.5rem 30px;
        height: 1.5rem;
    }
    
    95% {
        padding: 0.5rem 30px;
        height: 1.5rem;
    }

    100% {
        padding: 0 30px;
        height: 0;
    }
}