:root {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    --blue: #4d7dff;
    --darkblue: #3c55e6;
    --transparent-blue: #5c74ff2d;
    --outline: #0000002d;
    --textblack: #1d1f20;
}

body {
    color: var(--textblack);
    margin: 0;
}

#root {
    min-height: 100dvh;
}

main {
    min-height: calc(100dvh - 4rem - 1px);
}

section {
    width: 90%;
    font-size: 1rem;
    padding: 0px 5%; /* 25px 5% */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

section.item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

section.item.reverse {
    flex-direction: row-reverse;
}

section.outlined {
    border-top: 1px solid var(--outline);
    border-bottom: 1px solid var(--outline);
    margin-top: 25px;
}

section.item article {
    max-width: 500px;
}

section video, section img {
    max-width: 400px;
    width: 100%;
}

article.info p {
    margin: 0;
    font-size: 1.5rem;
}

@media screen and (max-width: 401px) {
    article.info input {
        width: 100%;
    }
}