main.home {
    /* background: white; */
    /* color: #1d1f20; */
}

main.home .scroll_buttons {
    margin-top: 1rem;
    display: flex;
}

main.home .scroll_buttons button {
    background-color: white;
    border-radius: 0;
    width: 100%;
    margin: 0;
}

main.home .scroll_buttons button:active {
    outline: none;
}

main.home .scroll_buttons button.selected {
    border-bottom: 3px solid var(--primary);
}

main.home div.scroller {
    display: flex;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

main.home div.scroller .empty {
    display: contents;
}

main.home div.scroller section {
    min-width: 90%;
}

main.home section.white {
    background-color: white;
    color: #1d1f20;
}

main.home section.gray {
    background-color: #dddcdd;
}

main.home section.blueprint{
    color: white;
    background: #086fb0 url("/images/blueprint_tiles.png");
    background-size: 2rem;
    padding: 25px 5%;
}

main.home .row {
    display: flex;  
    flex-wrap: wrap; 
}

main.home section.right {
    text-align: right;
}

main.home section.right .row {
    justify-content: right;
}

main.home section.blueprint img {
    width: auto;
    max-height: 300px;
    height: 100%;
}

@media screen and (max-width: 501px) {
    main.home section.right {
        text-align: left;
    }

    main.home article.info input, main.home article.info a {
        width: 100%;
    }
}