body:has(main.login) {
    background: #086fb0 url("/images/blueprint_tiles.png");
    background-size: 2rem;
}

main.login {
    border: solid 1px var(--outline);
    border-radius: 10px;
    
    background-color: var(--background);

    margin: 5rem auto;
    padding: 30px;
    max-height: 400px;
    min-height: auto;
    height: 100%;

    max-width: 300px;
    width: calc(100% - 60px);

    display: flex;
    flex-direction: column;
}

main.login form {
    display: contents;
}

main.login p.title {
    margin-bottom: 0;
}

main.login img[alt="Logo"] {
    max-width: 150px;
    width: 100%;
}

main.login .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main.login span.error {
    display: inline-block;
    background-color: red;
    background: linear-gradient(rgb(255, 0, 0), rgb(224, 45, 0));
    color: white;
    padding: 0.5rem 30px;
    
    position: fixed;

    bottom: 0;
    left: 0;
    width: calc(100% - 60px);
}

main.login .row input {
    transition: color 0.2s, background-color 0.2s;
}

@media screen and (max-width: calc(400px + 60px)) {
    main.login {
        --inputbackground: #0b8fcf;
        color: white;
        background-color: transparent;
        border-radius: 0;
        border: none;
    }

    main.login .row {
        --primary: #61ccff;
    }
    
    
    main.login label input {
        background: var(--inputbackground);
        color: white;
    }
    
    main.login label:has(input)::before {
        background: linear-gradient(#086fb0 60%, var(--inputbackground) 60%);
        color: rgba(255, 255, 255, 0.5);
    }
    
    
    label:has(input:placeholder-shown)::before {
        background: var(--inputbackground) !important;
    }
    
    label:has(input:autofill)::before {
        color: rgba(0, 0, 0, 0.5) !important;
        background: linear-gradient(#086fb0 60%, rgb(232, 240, 254) 60%) !important;
    }
    
    main.login label:has(input:focus)::before {
        color: white;
        background: linear-gradient(#086fb0 60%, var(--inputbackground) 60%);
    }

    main.login .row {
        justify-content: space-around;
    }

    main.login .row input, main.login .row a.button {
        width: 100%;
    }

}

@media screen and (max-height: 461px) {
    main.login {
        border-radius: 0;
        border-top: none;
        border-bottom: none;
        height: calc(100% - 60px);
    }
}