main.statistics {
    margin-top: -1rem;
    padding-top: 1rem;
    min-height: calc(100dvh - var(--headerSize) - var(--headerPadding) - 1px);
    max-width: 1000px;
    margin: auto;
}

main.statistics .likeDistribution {
    display: flex;
    flex-wrap: wrap;
}

main.statistics .likeDistribution .item {
    width: var(--w);
    overflow: hidden;
    /* min-width: 50px; */
    flex-grow: 1;
    display: grid;
    background: darkgray;
    margin-bottom: 0.5rem;
}

main.statistics .item div {
    grid-column: 1;
    grid-row: 1;
    height: 4rem;
}


main.statistics .likeDistribution .item .banner {
    background-color: var(--bgcolor);
    z-index: 0;
    filter: blur(3px);
    
    position: relative;
    top: -2rem;
    left: -2rem;

    background-size: cover;
    background-position: center;

    width: calc(100% + 4rem);
    height: calc(100% + 4rem);
}

main.statistics .likeDistribution .item .data {
    z-index: 2;
    display: flex;
    align-items: center;
    padding-left: 0.8rem;
    gap: 1rem;
}

main.statistics .likeDistribution .item .data .stats {
    color: var(--darkOnBackground);
    min-width: 4rem;
}

main.statistics .likeDistribution .item .data .stats .percentage {
    margin-right: 0.3rem;
}

main.statistics .likeDistribution .item .data .stats .distribution {
    opacity: 0.5;
    font-size: 0.8rem;
}

main.statistics .likeDistribution .item .data .stats {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

main.statistics .likeDistribution .item .data img {
    height: 2rem;
    max-width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

@media screen and (max-width: 701px) {
    main.statistics .likeDistribution .item {
        width: 100%;
        overflow: hidden;
        min-width: 100%;
        flex-grow: 1;
        display: grid;
    }

    main.statistics .item .banner {
        left: -5px;
        width: var(--w);
        mask-image: linear-gradient(90deg, black 95%, transparent 90%);
    }
}

main.statistics .userlink {
    color: var(--onBackground);
}

main.statistics .userlink .user {
    display: grid;
    overflow: hidden;
}

main.statistics .userlink .user div {
    grid-column: 1;
    grid-row: 1;
}

main.statistics .userlink .user .top {
    display: flex;
    align-items: center;
    gap: 1rem;
    
    z-index: 1;
    padding: 1rem;
}

main.statistics .userlink .user .banner {
    opacity: 0.7;
    background-color: rgba(17, 39, 17, 0.9);
    /* mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */

    filter: blur(3px);

    grid-column: 1;
    grid-row: 1;
    z-index: 0;

    position: relative;
    top: -1rem;
    left: -1rem;

    background-size: cover;
    background-position: center;

    width: calc(100% + 2rem);
    height: calc(100% + 2rem);
}

main.statistics .userlink .user .info span {
    display: block;
}

main.statistics .userlink .user .info span.displayname {
    margin: 0;
    font-size: 1.3rem;
}

main.statistics .userlink .user .info span.username {
    margin: 0;
    font-size: 1rem;
    opacity: 0.7;
    margin-bottom: .5rem;
}

main.statistics .userlink .user .info span.status {
    max-height: 2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 420px;
    width: calc(90dvw - 4rem - 64px);
}