main.test {
    background-color: #086fb0;
    background: url("/images/blueprint_tiles.png");
    background-size: 2rem;
    color: white;
}

main.test section img {
    height: auto;
    max-width: 200px;
    width: 100%;
}