span.bouncytext {
    --speed: 3s;
    display: inline-flex;
    flex-wrap: wrap;
    padding-bottom: 0.1em;
}

span.bouncytext * {
    display: inline-block;
    animation: bounce var(--speed) infinite ease-in-out;
    transform: translate(0px, 0.2em) scale(1);
    -webkit-transform: translate(0px, 0.2em) scale(1);
}

@keyframes bounce {

    30% {
        opacity: 0.3;
    }

    60% {
        transform: translate(0px, -0.2em);
        -webkit-transform: translate(0px, -0.2em);
        opacity: 1;
    }
}