header {
    width: calc(100% - 2em);
    background-color: var(--background);
    border-bottom: 1px solid var(--outline);
    height: 3rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1rem;

    position: sticky;
    top: 0;
    z-index: 1;
}

header div.left {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    margin-left: 20px;
}

header nav a {
    margin: 0px 5px;
}

header img {
    max-height: 3rem;
}

header .monitor {
    background-size: contain !important;
    background: url(/images/monitor/monitor_red.png);

    width: 3rem;
    height: 3rem;
}

header .monitor:hover {
    background: url(/images/monitor/monitor_green.png);
}

@media screen and (max-width: 401px) {
    header {
        justify-content: center;
    }

    header.open {
        position: fixed;
        height: 100dvh;
        flex-direction: column;
        justify-content: flex-start;
    }

    header.open div.left {
        display: flex;
        flex-direction: column;
        height: calc(100% - 4rem);
    }

    header div.left {
        display: none;
    }

    header nav {
        margin: 0;
        width: 100%;
    }

    header a {
        padding: 0.5rem 1rem;
        display: block;
        width: 100%;
    }
}