.customVideoPlayer {
    display: grid;
    align-items: end;
    overflow: hidden;
    /* border-radius: .4rem; */
    background: black;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.customVideoPlayer * {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.customVideoPlayer video {
    max-width: 100vw;
    max-height: 100vh;

    grid-column: 1;
    grid-row: 1;
    height: inherit;
    width: inherit;
    pointer-events: none;
}

.customVideoPlayer .controls {
    opacity: 0;
    --controlHeight: 2.5rem;
    z-index: 0;
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--controlHeight);

    transition: opacity .3s;
}

.customVideoPlayer:hover .controls {
    opacity: 1;
}

.customVideoPlayer .controls img.button {
    height: 2rem;
    padding: .5rem;
    cursor: pointer;
}

.customVideoPlayer .controls .timeline {
    height: var(--controlHeight);
    flex: 1;
    display: flex;
    align-items: flex-end;
    border: none;
    mask-image: linear-gradient(90deg, transparent 1%, white 20%);
}

.customVideoPlayer .controls .timeline .bar {
    height: 75%;
    flex: 1;
}

.customVideoPlayer .controls .timeline .bar .inner {
    background-color: var(--primary);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 0%;
    height: 100%;
    transition: width .4s linear;
}

.customVideoPlayer .controls .volumeContainer {
    display: grid;
    justify-items: center;
    height: 3rem;
}

.customVideoPlayer .controls .volumeContainer>.button {
    grid-column: 1;
    grid-row: 1;
}

.customVideoPlayer .controls .volumeContainer:has(.button:hover) .slider,
.customVideoPlayer .controls .volumeContainer .slider:hover {
    opacity: 1;
    pointer-events: inherit;
}

.customVideoPlayer .controls .volumeContainer .slider {
    pointer-events: none;
    opacity: 0;
    position: relative;
    top: -6.5rem;
    grid-column: 1;
    grid-row: 1;
    width: 1rem;
    height: 5rem;
    padding: 1rem;
}

.customVideoPlayer .controls .volumeContainer input[type="range"] {
    --targetHeight: 0%;
    width: 100%;
    height: 100%;
    writing-mode: vertical-lr;
    direction: rtl;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--outline);
    border-radius: .4rem;
    cursor: pointer;
    overflow: hidden;
}

.customVideoPlayer .controls .volumeContainer input[type="range"]::-webkit-slider-thumb {
    pointer-events: none;
    -webkit-appearance: none;
    appearance: none;
    height: 1px;
    width: 1rem;
    overflow: hidden;
    background: transparent;
}

.customVideoPlayer .controls .volumeContainer input[type="range"]::-moz-range-thumb {
    pointer-events: none;
    height: 1px;
    width: 1rem;
    background-color: transparent;
    overflow: hidden;
}

.customVideoPlayer .controls .volumeContainer input[type="range"]::before {
    pointer-events: none;
    position: relative;
    content: '';
    display: block;
    margin-top: calc(var(--targetHeight) * -1);
    height: var(--targetHeight);
    width: 1rem;
    background-color: var(--primary);
    border-radius: .4rem;
}