main.projects.home {

}

main.projects.home a.label h2 {
    /* transition: padding .2s .1s; */
}

main.projects.home a.label h2::after {
    content: " >";
    transition: padding .2s .1s;
}

main.projects.home section.right a.label h2::after {
    content: none;
}

main.projects.home section.right a.label h2::before {
    content: "< ";
    transition: padding .2s .1s;
}

main.projects.home section.right:hover a.label h2::before {
    padding-right: 0.8rem;
}

main.projects.home section:hover a.label h2::after {
    padding-left: 0.8rem;
}

main.projects.home section.item img {
    max-width: 175px;
}

@media screen and (max-width: 501px) {
    main.projects.home section.right a.label h2::after {
        content: " >";
    }

    main.projects.home section.right a.label h2::before {
        content: "";
    }

    main.projects.home section.right.item {
        flex-direction: row-reverse;
    }

    main.projects.home section.item img {
        max-width: 100px;
    }
}