article.users {
    margin-top: -1rem;
    padding-top: 1rem;
    min-height: calc(100dvh - var(--headerSize) - var(--headerPadding) - 1px);

    /* background: #8c8c8c url("/images/floor_tiles.png"); */
    background-size: 10rem;
}

article.users::before {
    image-rendering: pixelated;
    top: 0;
    content: "";
    background: url("/images/floor_tiles.png");
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    z-index: -1;
    background-size: 10rem;
    opacity: 0.5;
    -webkit-mask-image: -webkit-gradient(linear, top, bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
    mask-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

article.users .items {
    max-width: 600px;
    margin: auto;
}

article.users .items a {
    color: var(--onBackground);
}

article.users .user {
    background: var(--background);
    margin: 1rem;
    display: flex;
    gap: 1rem;
    outline: 1px solid var(--outline);
}

article.users .user .info span {
    display: block;
}