main.profiledetails::before {
    image-rendering: pixelated;
    top: 0;
    content: "";
    background: url("/images/floor_tiles.png");
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    z-index: -1;
    background-size: 10rem;
    opacity: 0.5;
    -webkit-mask-image: -webkit-gradient(linear, top, bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
    mask-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

main.profiledetails h1.header,
main.profiledetails h2.header {
    margin-bottom: 0.2rem;
    font-weight: 600;
}

main.profiledetails article.central {
    background-color: var(--background);
    margin: auto;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    min-height: calc(100dvh - var(--headerSize) - var(--headerPadding) - 1px);
}

main.profiledetails section.userdata {
    background: linear-gradient(var(--primary), var(--dark-primary));
    color: white;
    padding: 2rem;
    flex-basis: 250px;
    flex-grow: 1;
}

main.profiledetails aside {
    min-height: calc(100dvh - var(--headerSize) - var(--headerPadding) - 1px);
    flex-basis: 400px;
    flex-grow: 1;
}

main.profiledetails aside article .scroller div>section {
    padding: 0 1rem;
    min-width: calc(100% - 2rem);
}


main.profiledetails aside section.posts {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

/* Gallery start */
main.profiledetails aside section.gallery {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

main.profiledetails aside section.gallery .GalleryResourceCard {
    transform: scale(0.95);
    height: auto;
}

main.profiledetails aside section.gallery .GalleryResourceCard {
    transform: scale(0.95);
    height: auto;
}

main.profiledetails aside section.gallery .GalleryResourceCard:hover,
main.profiledetails aside section.gallery .GalleryResourceCard.expand {
    transform: scale(1);
}

main.profiledetails aside section.gallery .GalleryResourceCard .preview {
    width: 100%;
    height: auto;
}

main.profiledetails aside section.gallery .GalleryResourceCard .preview .previewAsset {
    height: auto;
    width: 100%;
}

main.profiledetails aside section.gallery .GalleryResourceCard .info {
    height: 0px;
    display: none;
    transition: margin 1s;
}

main.profiledetails aside section.gallery .GalleryResourceCard.expand .info {
    height: auto;
    display: block;
}

/* Gallery end */

main.profiledetails section.userdata .header {
    margin: -2rem;
    padding: 2rem;
    margin-bottom: 0rem;
    padding-bottom: 4rem;

    display: grid;
    overflow: hidden;
}

main.profiledetails section.userdata .header .banner {
    filter: blur(3px);
    mask-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

    grid-column: 1;
    grid-row: 1;
    z-index: 0;
    margin: -2rem;

    position: relative;
    top: -6px;
    left: -6px;

    background-size: cover;
    background-position: center;

    width: calc(100% + 4rem + 12px);
    height: calc(100% + 6rem);
}

main.profiledetails section.userdata .top {
    z-index: 1;
    grid-column: 1;
    grid-row: 1;

    margin: -2rem;
    padding: 2rem;

    display: flex;
    align-items: flex-start;
    align-items: center;
    flex-wrap: wrap;

    gap: 1rem;
}

main.profiledetails .header .top .profile {
    border-radius: 0.2rem;
}

main.profiledetails .top .info span {
    display: block;
}

main.profiledetails .top .info span.displayname {
    margin: 0;
    font-size: 1.3rem;
}

main.profiledetails .top .info span.username {
    margin: 0;
    font-size: 1rem;
    opacity: 0.7;
    margin-bottom: .5rem;
}

main.profiledetails .info .buttons {
    display: flex;
    gap: 0.5rem;
}

main.profiledetails .info .buttons span {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    background-color: var(--dark-primary);
}

main.profiledetails section.userdata .stats {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

main.profiledetails section.userdata span.radiation {
    display: block;
    color: white;
    background-color: rgba(96, 180, 17, 0.7);
    box-shadow: 0px 0px 2px 0.5rem rgba(96, 180, 17, 0.7);

    transition: box-shadow 0.5s, background 0.5s;
}

main.profiledetails section.userdata span.radiation:hover {
    background-color: rgba(96, 180, 17, 1);
    box-shadow: 0px 0px 5px 0.5rem rgba(96, 180, 17, 1);
}

main.profiledetails section.userdata img.profile {
    width: 100%;
    height: auto;
    max-width: 100px;
    transform: rotate(0deg);
    transition: transform .5s ease-in-out, box-shadow .5s;
}

main.profiledetails section.userdata img.profile.online {
    outline: 5px solid rgba(96, 180, 17, 1);
    border-radius: 0.4rem;
}

main.profiledetails section.userdata img.profile:hover {
    transform: rotate(3deg);
    animation: profileBobbling 2s ease-in-out .5s infinite;
}

main.profiledetails section.userdata img.profile:active {
    animation-duration: .8s;
    box-shadow: 0px 0px 20px -5px white;
}

@keyframes profileBobbling {
    0% {
        transform: rotate(3deg);
    }

    50% {
        transform: rotate(-3deg);
    }

    100% {
        transform: rotate(3deg);
    }
}


main.profiledetails aside h2.header {
    text-align: right;
    margin-right: 1rem;
}

main.profiledetails a.post {
    color: var(--onBackground);
}

main.profiledetails .badges {
    display: flex;
    gap: 0.1rem;
}

main.profiledetails .badges .badge img {
    height: 50px;
    width: auto;
}

main.profiledetails .badgelink {
    color: white;
    margin-bottom: 0.2rem;
    font-weight: 600;
}

main.profiledetails .badgelink::after {
    content: ">";
    opacity: 0.9;
    padding-left: 0.3rem;
    font-weight: 300;

    transition: padding 0.5s, opacity 0.6s;
}

main.profiledetails .badgelink:hover::after {
    font-weight: 500;
    padding-left: 0.9rem;
}

@media screen and (max-width: 501px) {
    main.profiledetails aside section.gallery .GalleryResourceCard .info {
        zoom: 1.5;
    }
}