main.profiledetails {}

main.profiledetails::before {
    image-rendering: pixelated;
    top: 0;
    content: "";
    background: url("/images/floor_tiles.png");
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    z-index: -1;
    background-size: 10rem;
    opacity: 0.5;
    -webkit-mask-image: -webkit-gradient(linear, top, bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
    mask-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

main.profiledetails article.central {
    background: var(--background);
    margin: auto;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-content: flex-start; */
    min-height: calc(100dvh - var(--headerSize) - var(--headerPadding) - 1px);
}

main.profiledetails article.central section {
    width: 100%;
}

main.profiledetails section.userdata {
    background: linear-gradient(var(--primary), var(--dark-primary));
    color: white;
    padding: 2rem;
    flex-basis: 250px;
    flex-grow: 1;
}

main.profiledetails section.posts {
    min-height: calc(100dvh - var(--headerSize) - var(--headerPadding) - 1px);
    padding: 0 1rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    flex-basis: 400px;
    flex-grow: 1;
}

main.profiledetails section.userdata .header {
    margin: -2rem;
    padding: 2rem;
    margin-bottom: -1rem;
    padding-bottom: 4rem;

    display: grid;
    overflow: hidden;
}

main.profiledetails section.userdata .header .banner {
    filter: blur(3px);
    mask-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

    grid-column: 1;
    grid-row: 1;
    z-index: 0;
    margin: -2rem;

    position: relative;
    top: -6px;
    left: -6px;

    background-size: cover;
    background-position: center;

    width: calc(100% + 4rem + 12px);
    height: calc(100% + 6rem);
}

main.profiledetails section.userdata .top {
    z-index: 1;
    grid-column: 1;
    grid-row: 1;

    margin: -2rem;
    padding: 2rem;
    /* background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Sunset_2007-1.jpg/1280px-Sunset_2007-1.jpg"); */
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

main.profiledetails .top .info span {
    display: block;
}

main.profiledetails .top .info span.displayname {
    margin: 0;
    font-size: 1.3rem;
}

main.profiledetails .top .info span.username {
    margin: 0;
    font-size: 1rem;
    opacity: 0.7;
    margin-bottom: .5rem;
}

main.profiledetails section.userdata img {
    width: 100%;
    height: auto;
    max-width: 100px;
}



main.profiledetails section.posts h2 {
    text-align: right;
    margin-right: 1rem;
}

main.profiledetails a.post {
    color: var(--onBackground);
}